<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CAIJava/src/utils/CAIJava.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="utils.CAIJava"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc:CAIJava}/source/AT_arc_metatrans.filtered.fasta.cleanup -s -f out.dat -t product -id locus_tag -i 15 -k 3 -g"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CAIJava"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:CAIJava/output}"/>
</launchConfiguration>
